<ion-header>
    <ion-toolbar>
        <ion-title>
            Market
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card [attr.data-selected]="product._quantity ? true : null"
         id="product-list"
         *ngFor="let product of products">

        <img [src]="product.img" alt="" class="product-image" draggable="false">

        <div class="btn-wrap">
            <p class="mbsc-txt-muted">{{product.price}} BOBO</p>

            <div class="input-wrap">
                <ion-button color="primary"
                            size="small"
                            (click)="product._quantity = product._quantity - 1">
                    <ion-icon name="remove"></ion-icon>
                </ion-button>

                <input class="input-quantity"
                       [(ngModel)]="product._quantity"
                       name="quantity"
                       type="tel"/>

                <ion-button color="primary"
                            size="small"
                            (click)="product._quantity = product._quantity + 1">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-list no-margin>
        <ion-item no-padding>
            <ion-label padding-left>
                <strong>Checkout : </strong>
                <span> {{finalValue}} BOBO </span>
            </ion-label>

            <ion-button [disabled]="!finalValue"
                        color="primary"
                        (click)="purchase()">
                <ion-icon name="cart"></ion-icon>
                Purchase
            </ion-button>
        </ion-item>
    </ion-list>
</ion-footer>

